name: CI (dev)
on: { push: { branches: ["dev"] } }
jobs:
  build:
    runs-on: ubuntu-latest
    permissions: { contents: read, packages: write }
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push backend (:dev)
        uses: docker/build-push-action@v6
        with:
          context: ./backend/api
          push: true
          tags: ghcr.io/elsamexidi/hydrotwin-v2-backend:dev

      - name: Build & push interfaz (:dev)
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/elsamexidi/hydrotwin-v2-interfaz:dev